version: "2.1"

services:

  # ---------------------------------
  # Database container
  # ---------------------------------

  postgres-base:
    image: postgres:9.6-alpine
    volumes:
      - ./.persistent_data/db/data:/var/lib/postgresql/data

  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx-base:
    image: nginx:stable-alpine
    volumes:
      # config file
      - ./scripts/conf/nginx.conf.local:/etc/nginx/conf.d/default.conf

      # media folders per container
      - ./.persistent_data/kernel/media:/media/kernel
      - ./.persistent_data/odk/media:/media/odk

      # static folders per container
      - ./.persistent_data/kernel/static:/static/kernel
      - ./.persistent_data/odk/static:/static/odk
      - ./.persistent_data/ui/static:/static/ui

      # use this volume with `start` command
      # - ./.persistent_data/gather/static:/static/gather
      # use this volume with `start_dev` command
      - ./app/gather/static:/static/gather
    ports:
      - "80:80"
      - "8443:8443"


  # ---------------------------------
  # Aether kernel container
  # ---------------------------------

  kernel-base:
    image: ehealthafrica/aether-kernel:0.8.0
    environment:
      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server
      CSRF_COOKIE_DOMAIN: .aether.local
      HOSTNAME: kernel.aether.local

      DJANGO_SECRET_KEY: "T7cyDESETLHDz43xf3Spx9NN6UdbDkpeREfy6fwATcckcwXUUvnqfHcwyNLHrXAZ"
      ADMIN_PASSWORD: adminadmin
      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24

      RDS_DB_NAME: aether-kernel
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8000
    volumes:
      - ./.persistent_data/kernel/media:/media
      - ./.persistent_data/kernel/static:/var/www/static
    ports:
      - "8000:8000"
    command: start


  # ---------------------------------
  # ODK Adapter container
  # ---------------------------------

  odk-base:
    image: ehealthafrica/aether-odk:0.8.0
    environment:
      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server
      CSRF_COOKIE_DOMAIN: .aether.local
      HOSTNAME: odk.aether.local

      DJANGO_SECRET_KEY: "T7cyDESETLHDz43xf3Spx9NN6UdbDkpeREfy6fwATcckcwXUUvnqfHcwyNLHrXAZ"
      ADMIN_PASSWORD: adminadmin
      AETHER_ODK_TOKEN: d5184a044bb5acff89a76ec4e67d0fcddd5cd3a1

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      RDS_DB_NAME: aether-odk
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8002
    volumes:
      - ./.persistent_data/odk/media:/media
      - ./.persistent_data/odk/static:/var/www/static
    ports:
      - "8002:8002"
    command: start


  # ---------------------------------
  # Aether UI module
  # ---------------------------------

  ui-base:
    image: ehealthafrica/aether-ui:0.8.0
    environment:
      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server
      CSRF_COOKIE_DOMAIN: .aether.local
      HOSTNAME: ui.aether.local

      DJANGO_SECRET_KEY: "T7cyDESETLHDz43xf3Spx9NN6UdbDkpeREfy6fwATcckcwXUUvnqfHcwyNLHrXAZ"
      ADMIN_PASSWORD: adminadmin

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      RDS_DB_NAME: aether-ui
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8004
    volumes:
      - ./.persistent_data/ui/static:/var/www/static
    ports:
      - "8004:8004"
    command: start


  # ---------------------------------
  # Gather container
  # ---------------------------------

  gather-base:
    image: gather
    build:
      context: .
      dockerfile: app/Dockerfile
    stdin_open: true
    tty: true
    environment:
      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server
      CSRF_COOKIE_DOMAIN: gather.local
      HOSTNAME: gather.local

      # Comment this out with `start` command
      DEBUG: "true"

      DJANGO_SECRET_KEY: "T7cyDESETLHDz43xf3Spx9NN6UdbDkpeREfy6fwATcckcwXUUvnqfHcwyNLHrXAZ"

      ADMIN_USERNAME: admin-gather
      ADMIN_PASSWORD: adminadmin

      AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      AETHER_MODULES: "kernel,odk,"

      AETHER_ODK_TOKEN: d5184a044bb5acff89a76ec4e67d0fcddd5cd3a1
      AETHER_ODK_URL: http://odk:8002
      AETHER_ODK_URL_TEST: http://odk-test:9002

      RDS_DB_NAME: gather
      RDS_HOSTNAME: db
      RDS_PASSWORD: ""
      RDS_PORT: 5432
      RDS_USERNAME: postgres

      WEB_SERVER_PORT: 8005

      # assets variables
      AETHER_KERNEL_URL_ASSETS: http://kernel.aether.local
      AETHER_ODK_URL_ASSETS: http://odk.aether.local
      CSV_HEADER_RULES: remove-prefix;payload.,remove-prefix;None.,replace;.;:;
      CSV_HEADER_RULES_SEP: ;
      CSV_MAX_ROWS_SIZE: 0

      WEB_SERVER_PORT: 8005

      # Comment `STATIC_ROOT` out with `start` command
      # Use this value with `start_dev` command and "webpack"
      STATIC_ROOT: /code/gather/assets/bundles
      # Use this value with `start_dev` command and without "webpack"
      # STATIC_ROOT: /code/gather/static
    volumes:
      - ./app:/code
      - ./conf:/code/conf
      # Use this volume with `start` command and comment out `STATIC_ROOT`
      # - ./.persistent_data/gather/static:/var/www/static
    ports:
      - "8005:8005"
    command: start_dev

  # ---------------------------------
  # Gather Assets container
  # ---------------------------------

  gather-assets-base:
    build: ./app/gather/assets
    stdin_open: true
    tty: true
    volumes:
      #################################################
      #                    WARNING                    #
      # do not include the root folder as volume or   #
      # `node_modules` folder will not be available   #
      #################################################

      # include all folders and root files manually :'(
      - ./app/gather/assets/apps:/code/apps
      - ./app/gather/assets/bundles:/code/bundles
      - ./app/gather/assets/conf:/code/conf
      - ./app/gather/assets/css:/code/css
      - ./app/gather/assets/tests:/code/tests
      - ./app/gather/assets/package.json:/code/package.json
    ports:
      - "3005:3005"
    command: start_dev
