version: "2.1"

services:

  # ---------------------------------
  # Databases
  # ---------------------------------

  postgres-base:
    image: postgres:9.6-alpine
    environment:
      PGUSER: postgres
    healthcheck:
      test: pg_isready
      interval: 5s
      timeout: 3s
      retries: 30

  couchdb-base:
    image: couchdb:1.7.2
    environment:
      COUCHDB_USER: ${COUCHDB_USER}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
    volumes:
      - ./local-setup/couchdb/config.ini:/usr/local/etc/couchdb/local.ini
    ports:
      - "5984:5984"

  redis-base:
    image: redis:alpine
    command: "redis-server --requirepass ${REDIS_PASSWORD}"


  # ---------------------------------
  # NGINX
  # ---------------------------------

  nginx-base:
    image: nginx:alpine
    volumes:
      # local setup
      - ./local-setup/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./local-setup/nginx/sites-enabled:/etc/nginx/sites-enabled

      # static folders per container
      - ./.persistent_data/static:/static

      # media folders per container
      - ./.persistent_data/media:/media
    ports:
      - "80:80"
      - "8443:8443"


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel-base:
    image: ehealthafrica/aether-kernel:${AETHER_VERSION:-latest}
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${KERNEL_DJANGO_SECRET_KEY}
      DJANGO_STORAGE_BACKEND: filesystem
      HOSTNAME: kernel.aether.local

      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server

      APP_NAME: Aether Kernel

      ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${KERNEL_ADMIN_TOKEN}

      KERNEL_READONLY_DB_USERNAME: ${KERNEL_READONLY_DB_USERNAME}
      KERNEL_READONLY_DB_PASSWORD: ${KERNEL_READONLY_DB_PASSWORD}

      DB_NAME: aether-kernel
      PGHOST: db # This matches the DB service name
      PGPASSWORD: ${KERNEL_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      # Export
      CSV_SEPARATOR: ","

      WEB_SERVER_PORT: 8000
    volumes:
      - ./.persistent_data/media/kernel:/media
      - ./.persistent_data/static/kernel:/var/www/static
      - ./.persistent_data/tmp/kernel:/tmp
    ports:
      - "8000:8000"
    command: start


  # ---------------------------------
  # Aether ODK module
  # ---------------------------------

  odk-base:
    image: ehealthafrica/aether-odk:${AETHER_VERSION:-latest}
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${ODK_DJANGO_SECRET_KEY}
      DJANGO_STORAGE_BACKEND: filesystem
      HOSTNAME: odk.aether.local

      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server

      APP_NAME: Aether ODK

      ADMIN_USERNAME: ${ODK_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ODK_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${ODK_ADMIN_TOKEN}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      DB_NAME: aether-odk
      PGHOST: db # This matches the DB service name
      PGPASSWORD: ${ODK_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      # behind ngnix
      WEB_SERVER_PORT: 8002
      # standalone (without nginx) (ODK Collect only accepts 443 and 8443 ports)
      # WEB_SERVER_PORT: 8443
    volumes:
      - ./.persistent_data/media/odk:/media
      - ./.persistent_data/static/odk:/var/www/static
    ports:
      # behind ngnix
      - "8002:8002"
      # standalone (without nginx)
      # - "8443:8443"
    command: start


  # ---------------------------------
  # Aether CouchDB Sync module
  # ---------------------------------

  couchdb-sync-base:
    image: ehealthafrica/aether-couchdb-sync:${AETHER_VERSION:-latest}
    environment: &sync-environment
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${COUCHDB_SYNC_DJANGO_SECRET_KEY}
      DJANGO_STORAGE_BACKEND: filesystem
      HOSTNAME: sync.aether.local

      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server

      APP_NAME: Aether CouchDB-Sync

      ADMIN_USERNAME: ${COUCHDB_SYNC_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${COUCHDB_SYNC_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${COUCHDB_SYNC_ADMIN_TOKEN}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      GOOGLE_CLIENT_ID: ${COUCHDB_SYNC_GOOGLE_CLIENT_ID}

      COUCHDB_URL: http://couchdb:5984
      COUCHDB_USER: ${COUCHDB_USER}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}

      DB_NAME: aether-couchdb-sync
      PGHOST: db # This matches the DB service name
      PGPASSWORD: ${COUCHDB_SYNC_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      REDIS_DB: 0
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: 6379

      WEB_SERVER_PORT: 8006
    volumes:
      - ./.persistent_data/static/sync:/var/www/static
    ports:
      - "8006:8006"
    command: start

  couchdb-sync-rq-base:
    image: ehealthafrica/aether-couchdb-sync:${AETHER_VERSION:-latest}
    environment: *sync-environment
    command: start_rq


  # ---------------------------------
  # Aether UI
  # ---------------------------------

  ui-base:
    image: ehealthafrica/aether-ui:${AETHER_VERSION:-latest}
    environment:
      CSRF_COOKIE_DOMAIN: .aether.local
      DJANGO_SECRET_KEY: ${UI_DJANGO_SECRET_KEY}
      DJANGO_STORAGE_BACKEND: filesystem
      HOSTNAME: ui.aether.local

      # Uncomment this line to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server

      APP_NAME: Aether

      ADMIN_USERNAME: ${UI_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${UI_ADMIN_PASSWORD}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000

      DB_NAME: aether-ui
      PGHOST: db # This matches the DB service name
      PGPASSWORD: ${UI_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      WEB_SERVER_PORT: 8004
    volumes:
      - ./.persistent_data/static/ui:/var/www/static
    ports:
      - "8004:8004"
    command: start


  # ---------------------------------
  # Gather
  # ---------------------------------

  gather-base:
    image: gather
    build:
      context: .
      dockerfile: app/Dockerfile
    stdin_open: true
    tty: true
    environment:
      CSRF_COOKIE_DOMAIN: gather.local
      DEBUG: "true" # Comment it out with `start` command
      DJANGO_SECRET_KEY: ${GATHER_DJANGO_SECRET_KEY}

      # Uncomment these lines to enable single sign on if you use CAS
      # CAS_SERVER_URL: https://your.cas.server
      # HOSTNAME: gather.local

      ADMIN_USERNAME: ${GATHER_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${GATHER_ADMIN_PASSWORD}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://kernel:8000
      AETHER_KERNEL_URL_TEST: http://kernel-test:9000
      AETHER_KERNEL_URL_ASSETS: http://kernel.aether.local

      AETHER_MODULES: "kernel,odk,couchdb-sync"

      AETHER_ODK_TOKEN: ${ODK_ADMIN_TOKEN}
      AETHER_ODK_URL: http://odk:8002
      AETHER_ODK_URL_TEST: http://odk-test:9002
      AETHER_ODK_URL_ASSETS: http://odk.aether.local

      AETHER_COUCHDB_SYNC_TOKEN: ${COUCHDB_SYNC_ADMIN_TOKEN}
      AETHER_COUCHDB_SYNC_URL: http://couchdb-sync:8006
      AETHER_COUCHDB_SYNC_URL_TEST: http://couchdb-sync-test:9006
      AETHER_COUCHDB_SYNC_URL_ASSETS: http://sync.aether.local

      DB_NAME: gather
      PGHOST: db # This matches the DB service name
      PGPASSWORD: ${GATHER_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      EXPORT_FORMAT: csv
      EXPORT_MAX_ROWS_SIZE: 0

      WEB_SERVER_PORT: 8005

      # Use this value with `start_dev` command and "webpack" otherwise comment it out
      STATIC_ROOT: /code/gather/assets/bundles
    volumes:
      - ./app:/code
      # Use this volume with `start` command and comment out `STATIC_ROOT`
      - ./.persistent_data/static/gather:/var/www/static
    ports:
      - "8005:8005"
    command: start_dev

  # ---------------------------------
  # Gather Assets
  # ---------------------------------

  gather-assets-base:
    build: ./app/gather/assets
    stdin_open: true
    tty: true
    volumes:
      #################################################
      #                    WARNING                    #
      # do not include the root folder as volume or   #
      # `node_modules` folder will not be available   #
      #################################################

      # include all folders and root files manually :'(
      - ./app/gather/assets/apps:/code/apps
      - ./app/gather/assets/bundles:/code/bundles
      - ./app/gather/assets/conf:/code/conf
      - ./app/gather/assets/css:/code/css
      - ./app/gather/assets/tests:/code/tests
      - ./app/gather/assets/package.json:/code/package.json
    ports:
      - "3005:3005"
    command: start_dev
