################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --rm --no-deps gather eval pip list --outdated        #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --rm --no-deps gather pip_freeze                      #
#                                                                              #
################################################################################


# Aether Django SDK library with extras
aether.sdk[server,storage,webpack,test]
