################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run gather pip_freeze'                #
#                                                                              #
################################################################################


# Main libraries
django
django-cors-headers
django-solo
django-webpack-loader
djangorestframework
psycopg2-binary
requests
uwsgi

# UMS
django-cas-ng
django-ums-client


# Development
django-debug-toolbar


# Server side
awscli   # this is used for pulling down secrets from S3
raven    # Sentry


# Test libraries
coverage
flake8
flake8-quotes
mock
